<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">


<div class="card">
  <div class="card-header">

            <div id="alerts-block" class="text-xs-center">
                <% unless notice.nil? %>
                    <p class="notice"><%= notice %></p>
                <% end %>
                <% unless alert.nil? %>
                    <p class="alert"><%= alert %></p>
                <% end %>
            </div>

    <h2 class="card-title"><%= t('user.sign_up') %></h2>
    <p class="card-text">
      <%= translate_with_link('user.sign_in_link_registered', new_session_path(resource_name)) %>
    </p>
  </div>

  <div class="card-block">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :first_name, for: 'fname_field', class: "sr-only" %>
    <%= f.text_field :fname, required: true, autofocus: true, class: "form-control", id: "fname_field", placeholder: t('helpers.label.user.first_name') %>
  </div>
  <div class="form-group">
    <%= f.label :middle_name, for: 'mname_field', class: "sr-only" %>
    <%= f.text_field :mname, class: "form-control", id: "mname_field", placeholder: t('helpers.label.user.middle_name') %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, for: 'lname_field', class: "sr-only" %>
    <%= f.text_field :lname, required: true, class: "form-control", id: "lname_field", placeholder: t('helpers.label.user.last_name') %>
  </div>
  <div class="form-group">
    <%= f.label :phone, for: 'phone_field', class: "sr-only" %>
    <%= f.telephone_field :phone, required: true, class: "form-control", id: "phone_field", placeholder: t('helpers.label.user.phone') %>
  </div>
  <div class="form-group">
    <%= f.label :affiliation, for: 'affiliation_field', class: "sr-only" %>
    <%= f.text_area :affiliation, required: false, class: "form-control", id: "affiliation_field", placeholder: t('helpers.label.user.affiliation') %>
  </div>
  <div class="form-group">
    <%= f.label :country, for: 'country_field', class: "sr-only" %>
    <%= f.country_select :country, {priority_countries: ["RU"], include_blank: t('helpers.label.user.country_blank'), sselected: 'RU'}, {required: true, class: "form-control", id: "country_field", pplaceholder: "Country"} %>
  </div>
  <div class="form-group">
    <%= f.label :email, for: 'email_field', class: "sr-only" %>
    <%= f.email_field :email, required: true, aautofocus: true, class: "form-control", id: "email_field", placeholder: t('helpers.label.user.email') %>
  </div>
  <div class="form-group">
    <%= f.label :password, for: 'password_field', class: "sr-only" %>
    <%= f.password_field :password, required: true, autocomplete: "off", class: "form-control", id: "password_field",
      placeholder: "#{t('helpers.label.user.password')}#{ (@minimum_password_length ? (' ('+t('helpers.label.user.password_minimum', number: @minimum_password_length).to_s+')') : '') }",
      minlength: "#{ (@minimum_password_length ? @minimum_password_length.to_s : '') }"
    %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, for: 'password_confirmation_field', class: "sr-only" %>
    <%= f.password_field :password_confirmation, required: true, autocomplete: "off", class: "form-control", id: "password_confirmation_field", placeholder: t('helpers.label.user.password_confirmation') %>
  </div>

  <div class="form-group">
    <%= f.submit t('helpers.label.user.sign_up'), class: 'btn btn-success' %>
  </div>
<% end %>


  </div>
<!--/div-->

<!--div class="panel panel-default">
  <div class="panel-body"-->
  <div class="card-footer">
<%= render "devise/shared/links" %>
  </div>
</div>

    </div>
  </div>
</div>


<script type="text/javascript">

$('#password_field, #password_confirmation_field').change(
  function() {
    var pass2=$('#password_field').val();
    var pass1=$('#password_confirmation_field').val();
    if(pass1!=pass2) {
//      console.log("Passwords Don't Match");
	    $('#password_confirmation_field')[0].setCustomValidity("Passwords Don't Match");
    } else {
//      console.log('Passwords Match');
  	  $('#password_confirmation_field')[0].setCustomValidity('');	 
    }
  }
);

</script>


