<%
  @page_title = t('journal.r_submission.assigned_papers')
%>

<div class="ccontainer container-fluid submissions">

    <div class="list-group papers-list">
        <% @submissions.each do |submission| %>
            <%
                text = submission.get_text
                invitation_state = submission.reviewer_invitations.first.aasm_state
                reviewer_to_do_status = submission.reviewer_to_do_status current_user
                authors = submission.get_authors_newest
            %>
            <%= link_to(r_submission_path(submission), class: "list-group-item list-group-item-action papers-list-item #{ %w[declined cancelled expired].include?(invitation_state) ? 'disabled' : '' }") do %>
                <div class="headblock reviewer-headblock-<%= reviewer_to_do_status %>"></div>
                <b><%= t('journal.submissions.status') %>:</b> <b>
                    <%= t('journal.submissions.reviewer_paper_state_short.'+reviewer_to_do_status) %>
                </b>
                <!--b>Invitation:</b> <span>
                    <%= invitation_state %>
                    <% if invitation_state=='pending' %>
                        <i>(please accept or decline)</i>
                    <% end %>
                </span-->
                <br>
                <!--span class="tag tag-pill tag-warning tag-pill float-xs-right"><%#= t('journal.submissions.state.'+submission.last_submitted_revision.aasm_state) rescue '-' %></span-->
                <b>#<%= submission.id %></b> | <%= text.title.truncate(120) rescue '' %> <span class="hidden-sm-down"><i><%= text.abstract.truncate(250) rescue '' %></i></span>
                <div class="papers-list-item-authors"><%= (authors || []).map(&:full_name).join(', ') %></div>
                <!--br-->
                <b><%= t('journal.submissions.by') %></b> <%= submission.user.full_name %>

          <div class="papers-list-item-time">
            <%= render partial: 'common/parts/submission/show_submission_dates', locals: {
              submission: submission
            } %>
          </div>

            <% end %>
            <!--p>
                <%#= submission.inspect %>
            </p>
            <p>
                <%#= submission.reviewer_invitations.inspect %>
            </p-->
        <% end %>
    </div>
</div>


