<%
    #user_role = (defined? user_role) ? user_role : :author
    #revision_index = (defined? revision_index) ? revision_index+1 : 1
    #can_editor_change = (defined? can_editor_change) ? can_editor_change : false

    defined?(user_role) or user_role = :author
    defined?(revision_index) or revision_index = 0; revision_index += 1
    defined?(can_editor_change) or can_editor_change = false

    r = review
%>

                    <div style="font-size: 70%;">
                        <%
                            #time_fields = %w[created submitted cancelled editor_updated]
                            time_fields = %w[submitted cancelled editor_updated]
                            show_delimiter = false
                        %>
                        <% time_fields.each do |f| %>
                            <% ff = f.to_s+'_at' %>
                            <% if r.send(ff) %>
                                <%= show_delimiter ? ' | ' : '' %><%= t('journal.office_submission.r_review.time.'+ff) %> <%= format_date_only( r.send(ff).to_datetime) rescue '' %>
                                <% show_delimiter = true %>
                            <% end %>
                        <% end %>
                    </div>


                        <div>
                            <b><%= t('journal.office_submission.r_review.reviewer') %>:</b>&nbsp;
                            <% if user_role==:author %>
                                #<%= revision_index %>
                            <% else %>
                          <%#= link_to u_path(r.user), ttarget: '_blank' do %>
                            <i class="fa fa-user"></i> <%= r.user.full_name %> (Id: <%= r.user.id %>)
                          <%# end %>
                            <% end %>
                        </div>
                        <div>
                            <b><%= t('journal.office_submission.r_review.decision') %>:</dt></b>&nbsp;
                            <%#= r.decision %>
                            <%= t('journal.office_submission.decisions.' + r.decision) %>
                        </div>

                        <div class="review_blocks">

                            <%
                            blocks_names = [
                                'comment_science',
                                'comment_science_2',
                                'comment_science_3',
                                'comment_science_4',
                                'comment_quality',
                                'comment_for_author',
                                #'comment_for_editor',
                            ]
                            blocks_names.push('comment_for_editor') unless user_role==:author
                            blocks_names.each do |field_name| %>
                                <%= render partial: 'common/parts/submission/show_revision_review_field', locals: {
                                    review: review,
                                    field_name: field_name,
                                    user_role: user_role,
                                    can_editor_change: can_editor_change
                                } %>
                            <% end %>

                        </div>

                      <p>

                        <% if user_role==:editor %>
                            <%
                                attachment = r.get_file_by_category :reviewer_file
                                attachment_e = r.get_or_new_file_by_category :reviewer_editor_file
                            %>
                            <b><%= t('journal.office_submission.r_review.attachment') %>:</b> &nbsp;<%= link_to attachment.file_data.url, ttarget: '_blank' do %><%= fa_icon 'download' %>
                                <%#= attachment.file_category %>
                                <%= t('journal.office_submission.r_review.attachment_download') %>
                            <% end if attachment %>
                            <br>
                            <b><%= t('journal.office_submission.r_review.attachment_replace') %>:</b> &nbsp;
                            <%= render partial: 'submission_files/submission_file', locals: {
                                submission_file: attachment_e,
                                can_upload: can_editor_change
                            } %>
                            <br>
                        <% end %>
                        <% if user_role==:author %>
                            <%
                                attachment = r.get_file_by_category(:reviewer_editor_file) || r.get_file_by_category(:reviewer_file)
                            %>
                            <b><%= t('journal.office_submission.r_review.attachment') %>:</b> &nbsp;<%= link_to attachment.file_data.url, ttarget: '_blank' do %><%= fa_icon 'download' %>
                                <%#= attachment_e.file_category %>
                                <%= t('journal.office_submission.r_review.attachment_download') %>
                            <% end if attachment %>
                            <br>
                        <% end %>
                        <% if user_role==:reviewer %>
                            <%
                                attachment = r.get_file_by_category :reviewer_file
                            %>
                            <b><%= t('journal.office_submission.r_review.attachment') %>:</b> &nbsp;<%= link_to attachment.file_data.url, ttarget: '_blank' do %><%= fa_icon 'download' %>
                                <%#= attachment_e.file_category %>
                                <%= t('journal.office_submission.r_review.attachment_download') %>
                            <% end if attachment %>
                            <br>
                        <% end %>

                      </p>

