<%
#  user_role = (defined? user_role) ? user_role : :author
    defined?(user_role) or user_role = :author
    defined?(can_editor_change) or can_editor_change = false
%>

<%# if decision.submitted? %>
<div class="reviews-list">
    <%
#        readonly = (defined? readonly) ? readonly : true
#        can_editor_change = (defined? can_editor_change) ? can_editor_change : false
        collapse_target_id = 'collapse_revision_reviews_' + revision.id.to_s
        if defined? id_prefix
          collapse_target_id = id_prefix + '_' + collapse_target_id
        end
    %>
                        <!--p>
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= collapse_target_id %>">
                                Reviews...
                            </button>
                        </p-->
                        <div cclass="collapse" iid="<%= collapse_target_id %>">

            <div class="card">
              <div class="card-block" style='background-color: #eeeeee;'>

          <!--div>
            <%#= render partial: 'indicator_reviews', locals: {submission: @submission, revision: revision} %>
          </div-->


                <h5 class="card-title bbtn btn-link collapse-link" data-toggle="collapse" data-target="#<%= collapse_target_id %>"><%= t('journal.office_submission.reviews_list') %> <%= fa_icon 'caret-down' %></h5>
                <div class="list-group collapse" id="<%= collapse_target_id %>">

                  <% revision.reviews_submitted.each_with_index do |r, n| %>
                    <div class="list-group-item print-review">
                      <%= render partial: 'common/parts/submission/show_revision_review', locals: {
                        review: r,
                        user_role: user_role,
                        revision_index: n,
                        can_editor_change: can_editor_change
                      } %>

                    </div>
                  <% end %>

                </div>
              </div>
            </div>

                        </div>



</div>
<%# end %>
