
<% if decision.submitted? %>
<div class="editor-decision">
    <%
        collapse_target_id = 'collapse_decision_' + decision.id.to_s
    %>

    <div class="card">
        <div class="card-block" style='background-color: #eeeeee;'>
            <h5 class="card-title bbtn btn-link collapse-link" data-toggle="collapse" data-target="#<%= collapse_target_id %>">
                <%= t("journal.office_submission.decision_#{decision.category}") %> <%= fa_icon 'caret-down' %>
            </h5>
            <div class="collapse" id="<%= collapse_target_id %>">
                <div class="llist-group-item">
                        <div class="ccollapse" iid="<%= collapse_target_id %>">
                            <div class="card card-block"  style='background-color: #eeeeee;'>
                                <p class="card-text">
                                    <b><%= t("journal.office_submission.decision_#{decision.category}_decision") %>:</b> <%= decision.decision rescue '' %>
                                    <br>
                                    <b><%= t("journal.office_submission.decision_#{decision.category}_comment") %>:</b> <%= decision.comment rescue '' %>
                                </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
<% end %>