          <span>

<%
            defined?(revision) or revision = submission.lsr

            reviews_map = revision.reviews.inject({}) do |a, r|
              a[r.user_id] = r
              a
            end

            invited = submission.reviewer_invitations.where.not(aasm_state: :inactive)
            reviewers_status = invited.map do |i|
              status = 'pending'
              status = 'cancelled' if i.cancelled?
              status = 'declined' if i.declined?
              if i.accepted?
                status = 'noreview'
                review = reviews_map[i.user_id]
                if review
#                  status = review.submitted? ? 'ready' : 'notready'
                  status = if review.submitted?
                    #'ready_'+review.decision
                    review.decision
                  else
                    'notready'
                  end
                end
              end
              status
            end
            icon_map = {
              pending: 'question-circle-o',
              cancelled: 'times-circle',
              declined: 'minus-circle',
              noreview: 'question-circle-o',
              #notready: 'pencil-square-o',
              notready: 'circle-o',
              #ready_accept: 'check-circle',
              #ready_reject: 'minus-circle',
              #ready_accept: 'circle',
              #ready_reject: 'circle',
              #ready_revise: 'circle',
              accept: 'circle',
              reject: 'circle',
              revise: 'circle',
            }
%>
            <%
                decision_1 = revision.decision_1
                decision_2 = revision.decision_2
                status_1 = decision_1 ? (decision_1.submitted? ? decision_1.decision : 'draft1') : nil
                status_2 = decision_2 ? (decision_2.submitted? ? decision_2.decision : 'draft2') : nil
                arrow = false
            %>

            <% if status_1 %>
                <%#= fa_icon (status_1=='draft1' ? 'pencil-square-o' : 'square-o'), class: "decision-status-#{status_1}", title: status_1 %>
                <%= fa_icon (status_1=='draft1' ? 'square-o' : (status_1=='reject_without_consideration' ? 'times' : 'plus' )), class: "decision-status-#{status_1}", title: status_1 %>
                <% arrow = true %>
            <% end %>

            <% if arrow && reviewers_status.count>0 %>
                <%= fa_icon 'chevron-right' %>
                <%#= fa_icon 'arrow-right' %>
            <% end %>

            <% reviewers_status.each do |rs| %>
                <%= fa_icon icon_map[rs.to_sym], class: "reviewers-status-#{rs}", title: rs %>
                <% arrow = true %>
            <% end %>

            <% if status_2 %>
                <% if arrow %>
                    <%= fa_icon 'chevron-right' %>
                    <%#= fa_icon 'arrow-right' %>
                <% end %>
                <%= fa_icon (status_2=='draft2' ? 'pencil-square' : 'square'), class: "decision-status-#{status_2}", title: status_2 %>
            <% end %>

          </span>
