<%

    @page_title = t('journal.menu.expired_reviews')
#    @page_title_sm = t('journal.appointments.people_sm')

%>

<div class="ccontainer container-fluid submissions">
    <!--div class="card">
        <div class="card-block"-->

<div class="list-group papers-list">

            <% @expired_reviews.each do |r| %>

              <%
                    text = r.submission.get_text
                    lsr = r.submission.lsr
                    authors = r.submission.get_authors_newest
              %>

              <%= link_to(e_submission_path(r.submission), class: "list-group-item list-group-item-action papers-list-item") do %>

              <!--div class="p-0 list-group-item"-->

<div>
        <%= t('journal.submissions.reviewer') %> <b><%= r.user.full_name %></b>
        <br>
        Expires at: <%= r.currev_expires_at %>
</div>
<hr>
        <span class="tag tag-pill tag-warning tag-pill float-xs-right"><%= t('journal.submissions.state.'+r.submission.last_submitted_revision.aasm_state) rescue '-' %></span>
        <b><%= r.submission.id %></b> | <%= text.title.truncate(120) rescue '' %> <span class="hidden-sm-down"><i><%= text.abstract.truncate(250) rescue '' %></i></span>
        <div class="papers-list-item-authors"><%= (authors || []).map(&:full_name).join(', ') %></div>
        <b><%= t('journal.submissions.by') %></b> <%= r.submission.user.full_name %>
        <%# if lsr.under_consideration? %>
          <div>
            <%= render partial: 'indicator_reviews', locals: {submission: r.submission} %>
          </div>
        <%# end %>

          <div class="papers-list-item-time">
            <%= render partial: 'common/parts/submission/show_submission_dates', locals: {
              submission: r.submission
            } %>
          </div>


<!--
                <%= r.inspect %>
                <%= r.submission.revisions.inspect %>
-->
              <!--/div-->

              <% end %>
            <% end %>


        <!--/div-->
    </div>


</div>

