
<%
=begin
  @page_menu_data = [
    {
      title: t('journal.submissions.new'),
      url: new_submission_path,
      icon: 'plus',
#      style: 'primary'
      style: 'default'
    }
  ]
=end

  @page_title = t('journal.e_submission.submitted_papers')

%>


<div class="container-fluid submissions">

<!--div class="page-header">
  <h2><%= t('journal.editor.submitted_papers') %></h2>
</div-->

<div class="list-group papers-list">
  <% @submissions.each do |submission| %>
      <%
            text = submission.get_text
            lsr = submission.lsr
            authors = submission.get_authors_newest
      %>
    <%= link_to(e_submission_path(submission), class: "list-group-item list-group-item-action papers-list-item") do %>
        <!--span class="tag tag-pill tag-warning tag-pill float-xs-right"><%= submission.last_submitted_revision.aasm_state rescue '-' %></span-->
        <span class="tag tag-pill tag-warning tag-pill float-xs-right"><%= t('journal.submissions.state.'+submission.last_submitted_revision.aasm_state) rescue '-' %></span>
        <!--b><%#= submission.id %></b> | <%#= submission.title.truncate(120) %> <span class="hidden-sm-down"><i><%#= submission.abstract.truncate(250) %></i></span-->
        <b><%= submission.id %></b> | <%= text.title.truncate(120) rescue '' %> <span class="hidden-sm-down"><i><%= text.abstract.truncate(250) rescue '' %></i></span>
        <div class="papers-list-item-authors"><%= (authors || []).map(&:full_name).join(', ') %></div>
        <!--br-->
        <b><%= t('journal.submissions.by') %></b> <%= submission.user.full_name %>
        <%# if lsr.under_consideration? %>
          <div>
            <%= render partial: 'indicator_reviews', locals: {submission: submission} %>
          </div>
        <%# end %>
    <% end %>
  <% end %>
</div>




</div>

