<%

    @page_title = t('journal.menu.people')
#    @page_title_sm = t('journal.appointments.people_sm')

%>

<div class="container ccontainer-fluid">
    <div class="card">
        <div class="card-block">
            <%= form_tag people_find_e_submissions_path, method: :post, remote: true, id: 'find_users_form' do %>
                <%= search_field_tag 'search', '', id: 'find_users_text', placeholder: 'Last Name' %>

                    <% JournalAppointment::Roles.each do |r| %>
                        <%= label_tag do %>
                            <%#= r %>
                            <span style="font-weight: 900; margin-left: 12px;"><%= r.slice(0,1).capitalize %></span><%= r.slice(1..-1) %>
                            <%= check_box_tag "roles[]", r, false %>
                        <% end %>
                    <% end %>

            <% end %>
        </div>

    <!--div cclass="card" id="found_users_list"-->
        <%= render partial: 'e_submissions/found_users_list' %>
    <!--/div-->

    </div>


</div>

