<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">

<div class="card">
  <div class="card-header">

            <div id="alerts-block" class="text-xs-center">
                <% unless notice.nil? %>
                    <p class="notice"><%= notice %></p>
                <% end %>
                <% unless alert.nil? %>
                    <p class="alert"><%= alert %></p>
                <% end %>
            </div>

    <h2 class="card-title"><%= t('user.forgot_password') %></h2>
  </div>

  <div class="card-block">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, for: 'email_field', class: "sr-only" %>
    <%= f.email_field :email, required: true, autofocus: true, class: "form-control", id: "email_field", placeholder: t('helpers.label.user.email') %>
  </div>

  <!--div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div-->

  <div class="form-group">
    <%= f.submit t('helpers.label.user.send_me_reset'), class: 'btn btn-primary' %>
  </div>

<% end %>

  </div>
  <div class="card-footer">
<%= render "devise/shared/links" %>
  </div>
</div>

    </div>
  </div>
</div>
