<h1>Welcome#index</h1>


<%= button_tag "Default", class: 'btn ' %>
<%= button_tag "Primary", class: 'btn btn-primary' %>
<%= button_tag "Success", class: 'btn btn-success' %>
<%= button_tag "Info", class: 'btn btn-info' %>
<%= button_tag "Warning", class: 'btn btn-warning' %>
<%= button_tag "Danger", class: 'btn btn-danger' %>


<br><br><br>

<span class="tag tag-danger">Danger</span>


<p>Find me in app/views/welcome/index.html.erb</p>


wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>
wre twert ert er twet wet wet we we teryey eryure ryrty e
<br><br><br><br><br><br>




========================
