
<div class="modal fade" id="<%= modal_target_id %>" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">
                    <%= t('journal.editor_submission.reviewer_invitations') %>
                </h4>
            </div>
            <div class="modal-body">
            <%= form_tag e_submission_path(@submission), :method => :put, remote: true,
                :class => "container-fluid",
                :onsubmit => "$('##{modal_target_id}').modal('hide'); return true;" do
            %>
                <%= hidden_field_tag 'op', 'add_reviewer_invitations' %>
                <% @journal.reviewers.each_with_index do |member, index| %>
                    <div class="fform-group rrow">
                        <div class="ccheckbox form-check">
                            <label class="form-check-label">
                                <%= check_box_tag "reviewer_invitations[]", member.id,
                                    false && @submission.reviewer_invitations.map(&:user_id).include?(member.id),
                                    id: "reviewer_#{member.id}", class: "ccheckbox fform-control form-check-input" %>
                                <%#= label_tag "reviewer_#{member.id}", member.full_name %>
                                <%= member.full_name %>
<!--
                                <%#= link_to u(member), target: "_blank" do %>
                                    <i class="fa fa-user"></i> <%= member.full_name -%>
                                <%# end %>
-->
                            </label>
                        </div>
                    </div>
                <% end %>

                <div class="form-group">
                    <div cclass="col-sm-offset-2 col-sm-10">
                        <%#= f.submit :class => 'btn btn-success' %>
                        <%= button_tag ddata: { dismiss: "modal" }, :class => 'btn btn-success' do %>
                            <i class="fa fa-check ffa-lg"></i>
                            <%= t('journal.e_submission.r_invitations.add') %>
                        <% end %>
                        <%= link_to nil, data: { dismiss: "modal" }, :class => 'btn btn-warning' do %>
                            <i class="fa fa-times ffa-lg"></i>
                            <%= t('journal.e_submission.r_invitations.cancel') %>
                        <% end %>
                    </div>
                </div>

            <% end %>
            </div>
        </div>
    </div>
</div>


