
<div class="modal fade" id="<%= modal_target_id %>" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
        </button>
        <h4 class="modal-title">
          <%= t('journal.editor_submission.editor_decision') %> <%= stage %>
        </h4>
      </div>
      <div class="modal-body">
        <% decision=@decisions[stage] %>
        <% decision = SubmissionRevisionDecision.new unless decision %>
        <%= form_for decision, url: e_submission_path(@submission), method: :put, remote: true, :html => {
              :class => "container-fluid",
              :onsubmit => "$('##{modal_target_id}').modal('hide'); /*$('body').removeClass('modal-open');*/ return true;"
            } do |f| %>
            <%= f.hidden_field :category, value: stage %>
          <div class="form-group row">
            <%= f.label t('journal.editor_submission.form.decision'), :class => "col-sm-4 col-form-label form-control-label" %>
            <div class="col-sm-8">
              <%#= f.select :decision, options_for_select(SubmissionRevisionDecision::Decisions, @decision.decision), class: "form-control" %>
              <%= f.select :decision, options_for_select(SubmissionRevisionDecision::decisions(stage).map{ |d|
                  [t('journal.office_submission.decisions.'+d), d]
                }, decision.decision), class: "form-control" %>
            </div>
          </div>

          <% if stage=="stage_2" || stage=="stage_1_cold" %>
          <div class="form-group row">
            <%#= f.label t('journal.editor_submission.form.decision_submission_deadline'), :class => "col-sm-2 col-form-label form-control-label" %>
            <%= f.label 'Author submission deadline (if applicable)', :class => "col-sm-4 col-form-label form-control-label" %>
            <div class="col-sm-8">
              <%
                  decision_submission_deadline_intervals = [
                      {'title': 'in 2 minutes, remind when 1 minute left', duration: 'PT2M|PT1M'},
                      {'title': 'in 1 hour, remind when 20 minutes left', duration: 'PT1H|PT20M'},
              #        {'title': 'in 3 days, remind when 1 day left', duration: 'P3D|P1D'},
                      {'title': 'in 1 week, remind when 3 days left', duration: 'P1W|P3D'},
                      {'title': 'in 2 weeks, remind when 5 days left', duration: 'P2W|P5D'},
                      {'title': 'in 1 month, remind when 1 week left', duration: 'P1M|P1W'},
                      {'title': 'in 2 months, remind when 2 weeks left', duration: 'P2M|P2W'},
                  ]
              %>
              <%= f.select :submission_deadline, options_for_select(decision_submission_deadline_intervals.map{ |d|
                  [d[:title],d[:duration]]
                }, decision.submission_deadline || 'P2W|P5D'), class: "form-control" %>
            </div>
          </div>
          <% end %>



          <div class="form-group row">
            <div cclass="col-sm-10">
            <%= f.label t('journal.editor_submission.form.decision_comment'), :class => "col-sm-4 col-form-label form-control-label" %>
              <%= f.text_area :comment, :class => "col-sm-12 form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="ooffset-sm-2 col-sm-12">
              <%#= f.submit :class => 'btn btn-success' %>
              <% if operation_enabled %>
                <%= f.button ddata: { dismiss: "modal" }, :class => 'btn btn-success btn-sm' do %>
                  <i class="fa fa-check fa-lg"></i>
                  <%= t('journal.editor_submission.form.save') %>
                <% end %> 
              <% end %> 
              <%= link_to nil, data: { dismiss: "modal" }, :class => 'btn btn-warning btn-sm' do %>
                <i class="fa fa-times fa-lg"></i>
                <%= t('journal.editor_submission.form.cancel') %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



