
<div class="modal fade" id="<%= modal_target_id %>" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h3 class="modal-title">
                    <%= t('journal.office_submission.r_review.my_review') %>
                </h3>
            </div>
            <div class="modal-body">
                <% my_review=@my_review %>
                <% my_review = SubmissionRevisionReview.new unless my_review %>
                <%= form_for my_review, url: r_submission_path(@submission), method: :put, remote: true, :html => {
                    :class => "form-horizontal", :role => "form",
                    :onsubmit => "$('##{modal_target_id}').modal('hide'); return true;"
                    } do |f| %>

                    <div class="form-group text-xs-center" style="color: red;">
                        <%= t('journal.office_submission.r_review.dont_forget_to_save') %>
                    </div>
                    <div class="form-group row">
                        <%= f.label t('journal.office_submission.r_review.decision'), :class => "col-sm-2 col-form-label form-control-label" %>
                        <div class="col-sm-10">
                            <%#= f.select :decision, options_for_select(SubmissionRevisionDecision::decisions('stage_2'), @decision.decision), class: "form-control" %>
                            <%= f.select :decision, options_for_select(SubmissionRevisionDecision::decisions('stage_2'), my_review.decision), class: "form-control" %>
                        </div>
                    </div>


                    <h4><%= t('journal.office_submission.r_review.comment_science_header') %></h4>

                    <div class="form-group">
                        <%= f.label :comment_science do %>
                            <%= simple_format(t('journal.office_submission.r_review.comment_science_description')) %>
                        <% end %>
                        <%= f.text_area :comment_science, :class => "form-control", :rows => "5" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :comment_science_2 do %>
                            <%= simple_format(t('journal.office_submission.r_review.comment_science_2_description')) %>
                        <% end %>
                        <%= f.text_area :comment_science_2, :class => "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :comment_science_3 do %>
                            <%= simple_format(t('journal.office_submission.r_review.comment_science_3_description')) %>
                        <% end %>
                        <%= f.text_area :comment_science_3, :class => "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :comment_science_4 do %>
                            <%= simple_format(t('journal.office_submission.r_review.comment_science_4_description')) %>
                        <% end %>
                        <%= f.text_area :comment_science_4, :class => "form-control" %>
                    </div>

                    <h4><%= t('journal.office_submission.r_review.comment_quality_header') %></h4>

                    <div class="form-group">
                        <%= f.label :comment_quality do %>
                            <%= simple_format(t('journal.office_submission.r_review.comment_quality_description')) %>
                        <% end %>
                        <%= f.text_area :comment_quality, :class => "form-control" %>
                    </div>

                    <h4><%= t('journal.office_submission.r_review.comment_author_header') %></h4>

                    <div class="form-group">
                        <%= f.label :comment do %>
                            <%= simple_format(t('journal.office_submission.r_review.comment_description')) %>
                        <% end %>
                        <%= f.text_area :comment, :class => "form-control" %>
                    </div>

                    <h4><%= t('journal.office_submission.r_review.comment_for_editor_header') %></h4>

                    <div class="form-group">
                        <%= f.label :comment_for_editor do %>
                            <%= simple_format(t('journal.office_submission.r_review.comment_for_editor_description')) %>
                        <% end %>
                        <%= f.text_area :comment_for_editor, :class => "form-control" %>
                    </div>



                    <!--div class="form-group row">
                        <div cclass="col-sm-10">
                            <%#= f.label t('journal.office_submission.r_review.comment'), :class => "col-sm-12 col-form-label form-control-label" %>
                            <%#= f.text_area :comment, :class => "col-sm-12 form-control" %>
                        </div>
                    </div-->


                    <div class="form-group row">
                        <div class="ooffset-sm-2 col-sm-12">
                            <% if operation_enabled %>
                                <%= f.button ddata: { dismiss: "modal" }, :class => 'btn btn-success btn-sm' do %>
                                    <i class="fa fa-check fa-llg"></i>
                                    <%= t('journal.office_submission.r_review.save') %>
                                <% end %>
                                <%= link_to nil, data: { dismiss: "modal" }, :class => 'btn btn-warning btn-sm' do %>
                                    <i class="fa fa-times fa-llg"></i>
                                    <%= t('journal.office_submission.r_review.cancel') %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>






