<%

#    lcr = @submission.last_created_revision
    lsr = @submission.last_submitted_revision

    state = lsr.aasm_state rescue '_'

    s_state = @submission.aasm_state
    lsr_state = lsr.aasm_state
    inv_state = @my_invitation.aasm_state
    r_state = ((@my_review && @my_review.submitted?) ? 'done' : 'not_done')

    reviewer_to_do_status = @submission.reviewer_to_do_status current_user

#    state1 = state + (lsr.under_consideration? ? ('_'+r_state) : '')
    state1 = state + (lsr.under_consideration? ? (@my_invitation.currev_expired? ? '_expired' : ('_'+r_state))  : '')
    block_class = 'reviewer_submission-block-'+reviewer_to_do_status

%>


    <%# unless state=="draft" %>
    <% if lsr %>
    <div class="card card-inverse paper-state-block <%= block_class %>" style="overflow: hidden;">
        <div class="card-block">
            <h3 class="card-title ttext-xs-center">
                <%= t('journal.submissions.reviewer_paper_state_short.'+reviewer_to_do_status) %>
            </h3>

            <% if inv_state=='pending' %>

                    <%= button_to r_submission_path(@submission, op: :decline_my_reviewer_invitation),
                        method: :put,
                        data: {
                            confirm: 'Are you sure your want to decline this invitation?'
                        },
                        :class => 'btn btn-danger btn-sm pull-right',
                        :remote => true,
                        disabled: !(@my_invitation && policy(@my_invitation).can_decline?),
                        #disabled: !(@my_invitation && @my_invitation.may_sm_decline?),
                        a: :b do
                    %>
                        <%= fa_icon 'times' %>
                        <%= t('journal.office_submission.r_invitation.decline') %>
                    <% end %>

                    <%= button_to r_submission_path(@submission, op: :accept_my_reviewer_invitation),
                        method: :put,
                        data: {
                            confirm: 'Are you sure your want to accept this invitation?'
                        },
                        :class => 'btn btn-success btn-sm pull-right',
                        :remote => true,
                        #disabled: !(@my_invitation && @my_invitation.may_sm_accept?),
                        disabled: !(@my_invitation && policy(@my_invitation).can_accept?),
                        a: :b do
                    %>
                        <i class="fa fa-check ffa-lg"></i>
                        <%= t('journal.office_submission.r_invitation.accept') %>
                    <% end %>

            <% end %>

            <p class="card-text"><%= simple_format( t('journal.submissions.inv_state_description.'+inv_state) ) %></p>
            <% if inv_state=='accepted' %>
                <p class="card-text"><%= simple_format( t('journal.submissions.inv_state_description.accepted_'+state1) ) %></p>
            <% end %>



                    <%
                        ri = @my_invitation
                    %>
                    <div style="font-size: 70%;">
                        <b><%= t('journal.e_submission.reviewer_invitations.invitation') %>:</b>
                        <%
                            time_fields = %w[activated cancelled accepted declined inv_expires]
                            show_delimiter = false
                        %>
                        <% time_fields.each do |f| %>
                            <% text_style = "nnn-danger" %>
                            <% ff = f.to_s+'_at' %>
                            <% if ri.send(ff) %>
                                <%= show_delimiter ? ' | ' : '' %><span class="text-<%= text_style %>"><%= t('journal.e_submission.reviewer_invitations.time.'+ff) %> <%= format_date_only( ri.send(ff).to_datetime) rescue '' %></span>
                                <% show_delimiter = true %>
                            <% end %>
                        <% end %>
                        <!-- | <b><%= ri.expired? ? 'expired' : 'not expired' %></b> -->
                    </div>
                    <div style="font-size: 70%;">
                        <b><%= t('journal.e_submission.reviewer_invitations.current_review') %>:</b>
                        <%
                            #time_fields = %w[activated cancelled accepted declined inv_expires inv_remind inv_remind_editor]
                            #time_fields = %w[currev_expires currev_remind currev_remind_editor currev_submitted]
                            time_fields = %w[currev_expires currev_submitted]
                            show_delimiter = false
                        %>
                        <% time_fields.each do |f| %>
                            <% text_style = "nnn-danger" %>
                            <% ff = f.to_s+'_at' %>
                            <% if ri.send(ff) %>
                                <%= show_delimiter ? ' | ' : '' %><span class="text-<%= text_style %>"><%= t('journal.e_submission.reviewer_invitations.time.'+ff) %> <%= format_date_only( ri.send(ff).to_datetime) rescue '' %></span>
                                <% show_delimiter = true %>
                            <% end %>
                        <% end %>
                    </div>





        </div>
    </div>

    <% end %>

