<%
    revisions = @submission.revisions_submitted
    lsr = @submission.last_submitted_revision
    text = @submission.get_text_submitted
%>

<%
    case @current_role
    when 'editor'
        @page_menu_data = [
        {
            title: t('journal.submissions.revisions'),
            url: revisions_e_submission_path,
            icon: 'th-list',
            disabled: (revisions.count==0)
        }, {
#            title: t('journal.e_submissions.papers_list'),
             title: t('journal.office_submission.papers_list'),
           url: journal_e_submissions_path(@journal),
            icon: 'arrow-left',

            disabled: @submission.archived?
    }, {
      title: t('journal.e_submission.archive'),
      url: journal_e_submissions_path(@journal, filter: :archived),
#      icon: 'archive',
        icon: 'arrow-left',
        disabled: !@submission.archived?
    }


        ]
    when 'reviewer'
        @page_menu_data = [
        {
            title: t('journal.submissions.revisions'),
            url: revisions_r_submission_path,
            icon: 'th-list',
            disabled: (revisions.count==0)
        }, {
#            title: t('journal.r_submissions.papers_list'),
            title: t('journal.office_submission.papers_list'),
            url: journal_r_submissions_path(@journal),
            icon: 'arrow-left',
        }
        ]
    end

        @page_title = t('journal.office_submission.paper') + ' #' + @submission.id.to_s
        @page_title_sm = '#' + @submission.id.to_s

    reviewer_to_do_status = @submission.reviewer_to_do_status current_user

%>


    <%#= render partial: 'submissions/show_draft_block' if state=="draft" %>
    <%= render partial: 'office_submissions/show_reviewer_state_block' if @current_role=='reviewer' %>
    <%#= render partial: 'submissions/show_data_block' if @current_role=='reviewer' %>
    <%#= render partial: 'submissions/show_data_block' unless state=="draft" %>
    <%#= render partial: 'office_submissions/show_reviewer_review_block' if @current_role=='reviewer' %>
    <%= render partial: 'submissions/show_data_block' if %w[reviewer editor].include? @current_role %>
    <%= render partial: 'submission_r_review_inline_block', locals: {
            operation_enabled: policy(@submission).can_write_review?
#        } if @my_invitation
        } if @current_role=='reviewer' && reviewer_to_do_status=='please_review'
    %>
    <%#= render partial: 'submission_r_review_block', locals: {
            operation_enabled: policy(@submission).can_write_review?
#        } if @my_invitation
        } if @current_role=='reviewer' && reviewer_to_do_status=='please_review'
    %>


<% if @current_role=='editor' %>
<div class="card">
    <div class="card-block">
        <!--p class="card-text"-->
            <!--span class="tag tag-pill tag-warning tag-pill float-xs-right"><%#= @submission.aasm_state %><%= lsr.aasm_state %></span-->

          <div class="float-xs-right">
            <%= render partial: 'indicator_reviews', locals: {submission: @submission} %>
          </div>


            <!--b>Id:</b> <%= @submission.id %>
            <b>by</b> <%= @submission.user.full_name %>
        </p>
        <p class="card-text">
            <b>Title:</b> <%= text.title rescue '' %>
            <br>
            <b>Abstract:</b> <%= text.abstract rescue '' %>
        </p-->
    </div>

        <%# if @current_role=='reviewer' %>
            <%#= render partial: 'submission_r_invitation_block', locals: {operation_enabled: true} if @my_invitation %>
            <%#= render partial: 'submission_r_review_block', locals: {operation_enabled: policy(@submission).can_write_review?} if @my_invitation %>
        <%# end %>

        <% if @current_role=='editor' %>
            <%#= render partial: 'submission_e_decision_block', locals: {stage: 'stage_1', operation_enabled: @submission.submitted?} %>
            <%#= render partial: 'submission_e_decision_block', locals: {stage: 'stage_2', operation_enabled: @submission.under_consideration?} %>

            <%= render partial: 'submission_e_decision_block', locals: {stage: 'stage_1', operation_enabled: lsr.submitted?} %>
            <%= render partial: 'submission_e_decision_block', locals: {stage: 'stage_1_cold', operation_enabled: lsr.submitted_cold?} %>
            <%#= render partial: 'submission_e_decision_block', locals: {stage: 'stage_1', operation_enabled: lsr.submitted? || lsr.submitted_cold?} %>
            <%= render partial: 'submission_e_decision_block', locals: {stage: 'stage_2', operation_enabled: (false || lsr.under_consideration?) } %>

            <%= render partial: 'submission_invitations_block', locals: {operation_enabled: true} if lsr.under_consideration? || lsr.waiting_decision? %>

            <%
#                last_revision = @submission.last_submitted_revision
#                last_revision = lsr
                can_editor_change = policy(@journal).can_editor? && lsr && lsr.under_consideration?
            %>
            <% if lsr && lsr.reviews_submitted.count > 0 %>
                <%= render partial: 'common/parts/submission/show_revision_reviews', locals: {
                    revision: lsr,
                    user_role: :editor,
                    can_editor_change: can_editor_change,
                    id_prefix: 'head'
                } %>
            <% end %>


        <% end %>

</div>
<% end %>


