<%
  modal_target_id = 'modal_submission_' + @submission.id.to_s + '_edit_review'
  review_block_id = 'review_block_' + @submission.id.to_s
%>


    <div class="card" id="<%= review_block_id %>" style='background-color: #eeeeee; border-bottom: 1px solid #333333'>
        <div class="card-block">
            <h5 class="card-title"><%= t('journal.office_submission.r_review.my_review') %></h5>
            <%# if @my_review.persisted? %>
            <% if @my_review %>
                <p><%= t('journal.office_submission.r_review.state_'+@my_review.aasm_state) %></p>
                <dl class="ddl-horizontal">
                    <!--dt>State:</dt>
                    <dd><%#= @my_review.aasm_state %></dd-->
                    <dt><%= t('journal.office_submission.r_review.decision') %>:</dt>
                    <dd><%= @my_review.decision %></dd>

                    <dt><%= t('journal.office_submission.r_review.comment_science_header') %>:</dt>
                    <dd><%= simple_format( strip_tags(@my_review.comment_science) ) %></dd>
                    <dt></dt>
                    <dd><%= simple_format( strip_tags(@my_review.comment_science_2) ) %></dd>
                    <dt></dt>
                    <dd><%= simple_format( strip_tags(@my_review.comment_science_3) ) %></dd>
                    <dt></dt>
                    <dd><%= simple_format( strip_tags(@my_review.comment_science_4) ) %></dd>
                    <dt><%= t('journal.office_submission.r_review.comment_quality_header') %>:</dt>
                    <dd><%= simple_format( strip_tags(@my_review.comment_quality) ) %></dd>
                    <dt><%= t('journal.office_submission.r_review.comment_author_header') %>:</dt>
                    <dd><%= simple_format( strip_tags(@my_review.comment) ) %></dd>
                    <dt><%= t('journal.office_submission.r_review.comment_for_editor_header') %>:</dt>
                    <dd><%= simple_format( strip_tags(@my_review.comment_for_editor) ) %></dd>


                    <!--dt><%#= t('journal.office_submission.r_review.comment') %>:</dt>
                    <dd><%#= @my_review.comment %></dd-->

        
		<%
			file_records = @my_review ? %w[reviewer_file].map do |category|
				@my_review.get_or_new_file_by_category category
			end : []
		%>
    	<% file_records.each do |submission_file| %>
            <%# if operation_enabled %>
                <%= render partial: 'submission_files/submission_file', locals: {submission_file: submission_file} %>
            <%# else %>
                <%# if submission_file.persisted? %>
                <!--
                    &nbsp;(<%#= link_to t('journal.office_submission.r_review.attachment'), submission_file.file_data.url, target: "_blank" %>)
                -->
                <%# end %>
    	    <%# end %>
    	<% end %>


                </dl>
            <% else %>
                <p><%= t('journal.office_submission.r_review.not_made') %></p>
            <% end %>

            <% if operation_enabled %>
                <%= link_to "#", data: { toggle: "modal", target: "##{modal_target_id}" }, :class => 'btn btn-primary', disabled: !(@my_review && @my_review.may_sm_update?) do %>
                    <i class="fa fa-edit ffa-lg"></i>
                    <%= t('journal.office_submission.r_review.edit') %>
                <% end %>
                <%= link_to r_submission_path(@submission, op: :submit_my_review), method: :put, data: { confirm: 'Are you sure your review is ready?' }, :class => 'btn btn-success', :remote => true, disabled: !(@my_review && @my_review.may_sm_submit? && @my_review.persisted?) do %>
                    <i class="fa fa-check ffa-lg"></i>
                    <%= t('journal.office_submission.r_review.submit') %>
                <% end %>
            <% end %>
        </div>
    </div>

    <% if operation_enabled %>
        <%= render partial: 'edit_review_dialog', locals: {modal_target_id: modal_target_id, operation_enabled: operation_enabled} %>
    <% end %>
