<%

    case @current_role
    when 'editor'
        @page_menu_data = [
        {
            title: ( '#'+@submission.id.to_s + ' ' + t('journal.office_submission.paper') ),
            url: e_submission_path(@submission),
            icon: 'arrow-left',
        }
        ]
    when 'reviewer'
        @page_menu_data = [
        {
            title: ( '#'+@submission.id.to_s + ' ' + t('journal.office_submission.paper') ),
            url: r_submission_path(@submission),
            icon: 'arrow-left',
        }
        ]
    end

#  @page_title = t('journal.submissions.show') + ' #' + @submission.id.to_s
#  @page_title_sm = '#' + @submission.id.to_s

  @page_title = t('journal.office_submission.paper') + ' #' + @submission.id.to_s
  @page_title_sm = '#' + @submission.id.to_s

%>

<div class="container-fluid" style="overflow: hidden;">

<%
    revisions_collapse_target_id = "collapse_revisions_"+@submission.id.to_s
    revisions = @submission.revisions_submitted.order(:revision_n).reverse_order
%>
<% if revisions.count>0 %>
<div class="card">
    <div class="card-block">
        <!--h4 class="card-title bbtn btn-link" data-toggle="collapse" data-target="#<%= revisions_collapse_target_id %>">All revisions...</h4-->
        <h4 class="card-title bbtn bbtn-link" ddata-toggle="collapse" ddata-target="#<%= revisions_collapse_target_id %>">All revisions</h4>
    </div>
    <ul class="list-group ccollapse" id="<%= revisions_collapse_target_id %>">
        <% revisions.each do |revision| %>
            <li class="list-group-item">
                <dl class="row">
                    <dt class="col-xs-3">Revision:</dt>
                    <dd class="col-xs-9">#<%= revision.revision_n %></dd>
                    <dt class="col-xs-3">State:</dt>
                    <dd class="col-xs-9"><%= revision.aasm_state %></dd>
                    <dt class="col-xs-3">Files:</dt>
                    <dd class="col-xs-9">
                        
                        <%# revision.submission_revision_files.each do |file| %>
                        <% revision.files.each do |file| %>
                            &nbsp;<%= link_to file.file_data.url do %><%= fa_icon 'download' %>
                                <%= file.file_category %>
                            <% end %>
                        <% end %>
                        
                    </dd>
                    <% if revision.authors_list %>
                        <dt class="col-xs-3">Authors:</dt>
                        <dd class="col-xs-9"><%= revision.authors_list.authors.order(author_n: :asc).map(&:full_name).join(', ') %></dd>
                    <% end %>
                </dl>


                    <% if revision.text %>
                        <%= render partial: 'common/parts/submission/show_revision_text', locals: {revision: revision} %>
                    <% end %>

                    <% if revision.decision_1 %>
                        <%= render partial: 'common/parts/submission/show_revision_decision', locals: {decision: revision.decision_1} if @current_role=='editor' %>
                    <% end %>
                    <% if revision.decision_2 %>
                        <%= render partial: 'common/parts/submission/show_revision_decision', locals: {decision: revision.decision_2} if @current_role=='editor' %>
                    <% end %>
                    <% if @current_role=='editor' %>
                        <% if revision.reviews_submitted.count > 0 %>
                            <%= render partial: 'common/parts/submission/show_revision_reviews', locals: {
                                revision: revision,
                                user_role: :editor,
                            } %>
                        <% end %>
                    <% end %>
                    <% if @current_role=='reviewer' %>
                        <%
                            my_review = revision.user_review current_user
                        %>
                        <% if my_review && my_review.submitted? %>
                            <%= render partial: 'common/parts/submission/show_revision_one_review', locals: {
                                review: my_review,
                                user_role: :reviewer,
                            } %>
                        <% end %>
                    <% end %>


            </li>
        <% end %>
    </ul>

</div>
<% end %>



</div>

