<%
    #mode = defined?(mode) ? mode : :single
    defined?(mode) or mode = :single

    #modal_target_id = 'modal_submission_' + @submission.id.to_s + '_author_' + a.author_n.to_s
    modal_add_id = 'modal_submission_' + @submission.id.to_s + '_add_author'
    authors_list_block_id = 'authors_list_block_' + @submission.id.to_s
%>

<%
    @page_menu_data = [{
        title: ( '#'+@submission.id.to_s + ' ' + t('journal.submissions.show') ),
        url: submission_path(@submission),
        icon: 'arrow-left',
    }]

#    @page_title = 'Paper' + ' #' + @submission.id.to_s + ' Authors'
#    @page_title_sm = '#' + @submission.id.to_s + ' Authors'

    @page_title = t('journal.submission_titles.paper_authors', number: @submission.id)
    @page_title_sm = t('journal.submission_titles.paper_authors_sm', number: @submission.id)
%>

<div class="container-fluid">

    <div class="card ccard-default ccard-primary ccard-inverse">
        <div class="card-block">
            <%= link_to "#",
                #method: :get,
                class: "btn btn-primary btn-sm float-xs-right",
                style: 'margin-left: 6px;',
                data: { toggle: "modal", target: "##{modal_add_id}" },
                a: :b do
            %>
                <%= fa_icon 'plus' %>
                <%= t('journal.submissions.authors.add') %>
            <% end %>
            <% if mode==:wizard %>
                <%= t('journal.submissions.authors.message') %>
            <% end %>
        </div>
        <div class="card-block">
            <div id="<%= authors_list_block_id %>">
                <%= render partial: 'authors_list', locals: {
                    block_id: authors_list_block_id
                } %>
            </div>
        </div>
        <div class="card-block">
            <%= link_to submission_path(@submission),
                #method: :get,
                class: "btn btn-secondary btn-sm float-xs-left",
                a: :b do
            %>
                <%= fa_icon 'arrow-left' %>
                <%= t('journal.submissions.authors.back_to_paper') %>
            <% end unless mode==:wizard %>
            <%= link_to submission_path(@submission),
                #method: :get,
                data: {
                    confirm: t('journal.submissions.authors.confirm_stop')
                },
                class: "btn btn-warning btn-sm float-xs-left",
                a: :b do
            %>
                <%= fa_icon 'times' %>
                <%= t('journal.submissions.authors.stop') %>
            <% end if mode==:wizard %>
            <%= link_to wizard_files_submission_path(@submission),
                #method: :get,
                class: "btn btn-primary btn-sm float-xs-right",
                a: :b do
            %>
                <%= t('journal.submissions.authors.forward') %>
                <%= fa_icon 'arrow-right' %>
            <% end if mode==:wizard %>
        </div>
    </div>



        <%= render partial: 'submissions/author_form_dialog', locals: {
            modal_id: modal_add_id,
            #modal_title: t('journal.submissions.edit_author.edit_author'),
            author: SubmissionAuthor.new,
            mode: :add,
#            modal_size: 'sm'
        } %>

<%
=begin
%>
        <%= render layout: 'common/parts/dialog/modal_lg', locals: {
            modal_id: modal_add_id,
            modal_title: t('journal.submissions.add_authors.add_authors'),
            modal_size: 'sm'
        } do %>

                <%=
                    form_for SubmissionAuthor.new, url: update_authors_submission_path(
                        @submission,
                        op: :add_author
                    ),
                        method: :put, remote: true, :html => {
                        :class => "fform-horizontal", :role => "form",
                        :onsubmit => "/*$('##{modal_add_id}').modal('hide');*/ /*this.elements[1].focus();*/ return true;"
                    } do |f| %>

                    <div class="form-group">
                        <%= f.label :lname, t('journal.submissions.add_authors.last_name') %>
                        <%= f.text_field :lname, :class => "form-control", :aautofocus => 1 %>
                    </div>
                    <div class="form-group">
                        <%= f.label :fname, t('journal.submissions.add_authors.first_name') %>
                        <%= f.text_field :fname, :class => "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :mname, t('journal.submissions.add_authors.middle_name') %>
                        <%= f.text_field :mname, :class => "form-control" %>
                    </div>

                    <div class="form-group row">
                        <div class="ooffset-sm-2 col-sm-12">
                                <%= f.button ddata: { dismiss: "modal" }, :class => 'btn btn-success bbtn-sm' do %>
                                    <i class="fa fa-check fa-llg"></i>
                                    <%= t('journal.submissions.add_authors.add') %>
                                <% end %>
                                <%= link_to nil, data: { dismiss: "modal" }, :class => 'btn btn-secondary bbtn-sm' do %>
                                    <i class="fa fa-times fa-llg"></i>
                                    <%= t('journal.submissions.add_authors.finish') %>
                                <% end %>
                        </div>
                    </div>
                <% end %>

                <div id="check-icon" style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; font-size: 144pt; color: green; text-align: center; bborder: thin solid red; z-index: 1000;">
                    <%= fa_icon 'check' %>
                </div>

        <% end %>
<%
=end
%>

</div>

