<%
    revisions = @submission.revisions_submitted.order(:revision_n).reverse_order
%>
<% if revisions.count>0 %>

<div class="timeline-page">

    <div class="timeline">



        <%# revisions.each do |revision| %>

        <% @submission.get_timeline.each do |item| %>
            <%
                item_time = item[:time]
                item_type = item[:type]
                item_object = item[:object]
            %>

            <% if item_type=='review' %>
                <%
                    review = item_object
                %>
                <div class="container right ccard timeline-review" sstyle="overflow: hidden; mmargin: 15px 0;">
                    <div class="content ccard-block">
                        <div class="paper-card-time ppull-left">
                            <% if item_time %>
                                <b><%#= t('journal.submissions.time.submitted') %> <%= format_date_time( item_time.to_datetime) rescue '' %></b>
                            <% end %>
                        </div>
                      <!--p><%= item.inspect %></p-->

                        <div>
                            <%= t('journal.office_submission.r_review.reviewer') %> <%= review.user.full_name %>:
                            <span class="ppaper-card-revision_number review-status-<%= review.decision %>">
                                <b><%= t('journal.office_submission.decisions.' + review.decision) rescue '' %></b>
                            </span>
                        </div>
                            <%#= render partial: 'common/parts/submission/show_revision_decision', locals: {decision: decision} %>
                    </div>
                </div>
            <% end %>


            <% if item_type=='decision' %>
                <%
                    decision = item_object
                %>
                <div class="container right ccard timeline-decision" sstyle="overflow: hidden; mmargin: 15px 0;">
                    <div class="content ccard-block">
                        <div class="paper-card-time ppull-left">
                            <% if item_time %>
                                <b><%= format_date_time( item_time.to_datetime) rescue '' %></b>
                            <% end %>
                        </div>

                        <div>
                            <%= t('journal.office_submission.decision_any') %>:
                            <span class="ppaper-card-revision_number decision-status-<%= decision.decision %>">
                                <b><%= t('journal.office_submission.decisions.' + decision.decision) rescue '' %></b>
                            </span>
                        </div>

                                <% unless decision.comment.blank? %>
                                    <%
                                        collapse_target_id = 'collapse_decision_' + decision.id.to_s
                                    %>
                                    <div>
                                        <b class="btn-link collapse-link" data-toggle="collapse" data-target="#<%= collapse_target_id %>">
                                            <%= t("journal.office_submission.decision_any_comment") %>
                                            <%= fa_icon 'caret-down' %>
                                        </b>
                                        <div class="collapse" id="<%= collapse_target_id %>" style="background-color: white;">
                                            <%#= decision.comment rescue '' %>
                                            <%= simple_format(decision.comment) %>
                                        </div>
                                    </div>
                                <% end %>


                            <%#= render partial: 'common/parts/submission/show_revision_decision', locals: {decision: decision} %>
                    </div>
                </div>
            <% end %>


            <% if item_type=='revision' %>
                <%
                    revision = item_object
                %>
                <div class="container left ccard timeline-revision" sstyle="overflow: hidden; mmargin: 15px 0;">
                    <div class="content ccard-block">

                      <!--p><%= item.inspect %></p-->
                        <div class="paper-card-time ppull-right" style="text-align: right;">
                            <% if item_time %>
                                <b><%#= t('journal.submissions.time.submitted') %> <%= format_date_time( item_time.to_datetime) rescue '' %></b>
                            <% end %>
                        </div>
            
                        <div>
                            <%= t('journal.submissions.submitter') %> <%= revision.submission.user.full_name %>,
                            <%= t('journal.submission_data.revision_number') %>:
                            <span class="paper-card-revision_number">
                                <b>#<%= revision.revision_n %></b>
                            </span>
                        </div>
            
                        <%
                            author_file = revision.get_file_by_category 'author_file'
                        %>
                        <% if author_file %>
                            <div>
                                <%= t('journal.submission_data.author_file') %>:
                                <span class="paper-card-author_file"><%= link_to author_file.file_data.url, ttarget: '_blank' do %>
                                    <%= fa_icon 'download' %>
                                    <%= t('journal.submission_files.download') %>
                                <% end %></span>
                            </div>
                        <% end %>

                        <%
                            author_answer_file = revision.get_file_by_category 'author_answer_file'
                        %>
                        <% if author_answer_file %>
                            <div>
                                <%= t('journal.submission_data.author_answer_file') %>:
                                <span class="paper-card-author_file"><%= link_to author_answer_file.file_data.url, ttarget: '_blank' do %>
                                    <%= fa_icon 'download' %>
                                    <%= t('journal.submission_files.download') %>
                                <% end %></span>
                            </div>
                        <% end %>
            
                        <% if %w[author editor].include?(@current_role) %>
                            <%
                                author_expert_file = revision.get_file_by_category 'author_expert_file'
                            %>
                            <% if author_expert_file %>
                                <div>
                                    <%= t('journal.submission_data.author_expert_file') %>:
                                    <span class="paper-card-author_file"><%= link_to author_expert_file.file_data.url, ttarget: '_blank' do %>
                                        <%= fa_icon 'download' %>
                                        <%= t('journal.submission_files.download') %>
                                    <% end %></span>
                                </div>
                            <% end %>
                        <% end %>

                        <% if revision.authors_list %>
                            <div>
                                <%= t('journal.submission_data.authors') %>:
                                <span class="paper-card-authors">
                                    <%= revision.authors_list.authors.order(author_n: :asc).map(&:full_name).join(', ') %>
                                </span>
                            </div>
                        <% end %>
            
                        <% if revision.text %>
                            <%= render partial: 'common/parts/submission/show_revision_text', locals: {revision: revision} %>
                        <% end %>

                    </div>
                </div>
            <% end %>

        <% end %>



    </div>
</div>

<% end %>
