<%

    lcr = @submission.last_created_revision
    lsr = @submission.last_submitted_revision

    state = lcr.aasm_state rescue ''
#    block_class = 'submission-block-'+state

    icon_map = {
        "need_revise" => "exclamation",
        "submitted" => "meh-o",
        "under_consideration" => "meh-o",
        "accepted" => "smile-o",
        "rejected" => "frown-o",
        "rejected_without_consideration" => "frown-o",
        "draft" => "",
    }

    author_file = @submission.get_file_submitted 'author_file'

    author_expert_file = @submission.get_file_submitted 'author_expert_file'
    text = @submission.get_text_submitted
    authors = @submission.get_authors_submitted || []

    revisions_link = case @current_role
    when 'author' then revisions_submission_path(@submission)
    when 'editor' then revisions_e_submission_path(@submission)
    when 'reviewer' then revisions_r_submission_path(@submission)
    else nil
    end

%>

    <% unless state=="draft" && @current_role=='author' %>
    <div class="card paper-data-block" style="overflow: hidden;">
        <div class="card-block paper-card">

                    <% if 1 %>
                        <%= link_to revisions_link,
                            :class => 'btn btn-secondary bbtn-primary bbtn-sm pull-right',
                            a: :b do
                        %>
                            <%= fa_icon 'th-list' %>
                            <%#= t('journal.submissions.all_revisions') %>
                            <%= t('journal.submissions.revisions') %>
                            <%#= fa_icon 'arrow-right' %>
                        <% end %>
                    <% end %>

            <h3 class="card-title ttext-xs-center"><%= t('journal.submissions.paper_data') %></h3>

            <% if @current_role=="editor" %>
            <div>
                <b><%= t('journal.submission_data.by') %>:</b>
                <span>
                        <%= @submission.user.full_name %>
                </span>
                (<a class="paper-card-registrator" data-toggle="collapse" href="#<%= "reg_collapse_"+@submission.id.to_s %>"><%=
                    t('journal.submission_data.by_contacts')
                %> <i id="<%= 'reg_collapse_chevron_'+@submission.id.to_s %>" class="fa fa-chevron-down transitionable"></i></a>)
                <div class="collapse" id="<%= "reg_collapse_"+@submission.id.to_s %>">
                    <div class="card card-block">
                                <a href='mailto:<%= h @submission.user.email -%>'><%= h @submission.user.email -%></a><%
                                    if @submission.user.phone && @submission.user.phone.length>0
                                %>, <a href='tel:<%= h @submission.user.phone -%>'><%= h @submission.user.phone -%></a><% end %><br>
                                <%= @submission.user.country_name %><br>
                                <%
                                    if @submission.user.affiliation && @submission.user.affiliation.length>0
                                %><small><%= h @submission.user.affiliation -%><% end %></small><br>
                    </div>
                </div>
                <script>
//                $('#<%= "reg_collapse_"+@submission.id.to_s %>').on('hidden.bs.collapse', function () {
                $('#<%= "reg_collapse_"+@submission.id.to_s %>').on('hide.bs.collapse', function () {
//                    $('#<%= "reg_collapse_chevron_"+@submission.id.to_s %>').removeClass("fa-chevron-down").addClass("fa-chevron-right")
//                    $('#<%= "reg_collapse_chevron_"+@submission.id.to_s %>').removeClass("fa-chevron-up").addClass("fa-chevron-down")
                    $('#<%= "reg_collapse_chevron_"+@submission.id.to_s %>').removeClass("upsidedown")
                });
//                $('#<%= "reg_collapse_"+@submission.id.to_s %>').on('shown.bs.collapse', function () {
                $('#<%= "reg_collapse_"+@submission.id.to_s %>').on('show.bs.collapse', function () {
//                    $('#<%= "reg_collapse_chevron_"+@submission.id.to_s %>').removeClass("fa-chevron-right").addClass("fa-chevron-down")
//                    $('#<%= "reg_collapse_chevron_"+@submission.id.to_s %>').removeClass("fa-chevron-down").addClass("fa-chevron-up")
                    $('#<%= "reg_collapse_chevron_"+@submission.id.to_s %>').addClass("upsidedown")
                });
                </script>
            </div>
            <% end %>

            <div>
                <b><%= t('journal.submission_data.revision_number') %>:</b>
                <span class="paper-card-revision_number">
                        #<%= lsr.revision_n %> (<%= link_to t('journal.submission_data.see_all_revisions'), revisions_link %>)
                </span>
            </div>
            <div>
                <b><%= t('journal.submission_data.author_file') %>:</b>
                <span class="paper-card-author_file"><%= link_to author_file.file_data.url, ttarget: '_blank' do %>
                        <%= fa_icon 'download' %>
                        <%= t('journal.submission_files.download') %>
                <% end if author_file %></span>
            </div>
            <% if %w[author editor].include?(@current_role) %>
            <div>
                <b><%= t('journal.submission_data.author_expert_file') %>:</b>
                <span class="paper-card-author_file"><%= link_to author_expert_file.file_data.url, ttarget: '_blank' do %>
                    <%= fa_icon 'download' %>
                    <%= t('journal.submission_files.download') %>
                <% end if author_expert_file %></span>
            </div>
            <% end %>

            <div>
                <b><%= t('journal.submission_data.authors') %>:</b>
            <!--/div>
            <div-->
                <span class="paper-card-authors"><%= authors.map(&:full_name).join(', ') %></span>
            </div>
        <!--/div>

        <div class="card-block paper-card"-->
            <div>
                <!--span class="tag tag-pill tag-primary tag-pill float-xs-right paper-tag-<%= @submission.last_created_revision.aasm_state %>"><%= @submission.last_created_revision.aasm_state %></span-->
                <b><%= t('journal.submission_data.title') %>:</b> <span class="paper-card-title"><%= text.title rescue '' %></span>
            </div>
        <!--/div>

        <div class="card-block paper-card"-->
            <% abstract_collapse_target_id = "collapse_abstract_"+@submission.id.to_s %>
            <div>
                <!--b class="btn btn-link" ttype="button" data-toggle="collapse" data-target="#<%= abstract_collapse_target_id %>">Abstract...</b-->
                <b><%= t('journal.submission_data.abstract') %>:</b>
                <div class="ccollapse paper-card-abstract" id="<%= abstract_collapse_target_id %>">
                    <%#= text.abstract rescue '' %>
                    <%= simple_format(text.abstract) rescue '' %>
                </div>
            </div>

            <% if @current_role=='editor' %>

                <%= link_to e_submission_path(@submission,
                    #op: 'set_archived_' + (false ? 'on' : 'off') ),
                    op: 'toggle_archived'),
                    enabled: true,
                    method: :put,
                    data: { cconfirm: 'Are you sure you want to toggle the archive status?' },
                    :class => 'btn bbtn-link bbtn-default bbtn-secondary btn-sm pull-right fform-inline '+(@submission.archived? ? 'btn-toggle-on' : 'btn-toggle-off'),
                    #:style => @submission.archived? ? "color: green;" : "color: gray;",
                    #:title => t('journal.e_submission.archive'),
                    :remote => true, disabled: false do
                %>
                    <i class="fa fa-archive ffa-sm"></i>
                    <%= fa_icon (@submission.archived? ? 'check-square-o' : 'square-o') %>
                    <%= t('journal.e_submission.archive') %>
                    <%#= @submission.archived.to_s %>
                    <%#= @submission.archived? ? 'to archive' : 'from archive' %>
                    <%#= t('context.office_submission.ce_decision.submit') %>
                <% end %>

            <% end %>

          <div class="paper-card-time">


            <%= render partial: 'common/parts/submission/show_submission_dates', locals: {
              submission: @submission
            } %>
          </div>



        </div>



    </div>
    <% end %>

