
<%
  @page_menu_data = [
    {
      title: t('journal.submissions.new'),
      url: new_submission_path,
      icon: 'plus',
#      style: 'primary'
      style: 'default'
    }
  ]
%>


<div class="container-fluid submissions">

<div class="page-header">
  <h2><%= t('journal.submissions.my_papers') %></h2>
</div>

<div class="list-group">
  <% @submissions.each do |submission| %>
    <%= link_to(submission, class: "list-group-item list-group-item-action") do %>
        <b><%= submission.id %></b> | <%= submission.title.truncate(120) %> <span class="hidden-sm-down"><i><%= submission.abstract.truncate(250) %></i></span>
        <span class="tag tag-pill tag-primary tag-pill float-xs-right"><%= submission.aasm_state %></span>
    <% end %>
  <% end %>
</div>




</div>

