
<%
  @page_menu_data = [
    {
      title: t('journal.submissions.new'),
      url: new_submission_path,
      icon: 'plus',
#      style: 'primary'
      style: 'default'
    }
  ]

  @page_title = t('journal.submissions.my_papers')

%>

<div class="ccontainer container-fluid submissions">

<!--div class="page-header">
  <h2><%= t('journal.submissions.my_papers') %></h2>
</div-->

<div class="list-group papers-list">
  <% @submissions.each do |submission| %>
    <%
      lcr = submission.last_created_revision
      lsr = submission.lsr
      state = lcr.aasm_state
      text = submission.get_text_newest
      authors = submission.get_authors_newest
    %>
    <%= link_to(submission, class: "list-group-item list-group-item-action papers-list-item papers-list-item-#{state}") do %>
        <div class="headblock"><div class="part_1 <%= 'part_1_'+state %>"></div><div class="part_2 <%= 'part_2_'+state %>"></div><div class="part_3 <%= 'part_3_'+state %>"></div><div class="part_4 <%= 'part_4_'+state %>"></div></div>
        <!--span class="tag tag-pill tag-primary tag-pill float-xs-right paper-tag-<%= state %>"><%= state %></span-->
        <span class="tag tag-pill tag-primary tag-pill float-xs-right paper-tag-<%= state %>"><%= t('journal.submissions.state.'+state) %></span>
        <span>#<%= submission.id %></span> | <span class="papers-list-item-title"><%= text.title.truncate(120) rescue '' %></span>
        <div class="papers-list-item-authors"><%= (authors || []).map(&:full_name).join(', ') %></div>
        <div class="hidden-sm-down papers-list-item-abstract"><ii><%= text.abstract.truncate(250) rescue '' %></ii></div>
        <% if submission.first_submitted_at %>
          <div class="papers-list-item-time">
            <%= t('journal.submissions.time.submitted') %> <%= format_date_only( submission.first_submitted_at.to_datetime) rescue '' %>
            <% if lsr && (lsr.accepted? || lsr.rejected? || lsr.rejected_without_consideration?) && submission.editor_decided_at %>
              | <%= t('journal.submissions.time.'+(lsr.aasm_state rescue 'none')) %> <%= format_date_only( submission.editor_decided_at.to_datetime) rescue '' %>
            <% end %>
          </div>
        <% end %>
    <% end %>
  <% end %>
</div>




</div>

