

<div class="container-fluid submissions">


<div class="page-header">
  <!--
  <%#= link_to new_submission_path(@journal), class: 'btn bbtn-primary btn-success btn-circle btn-lg btn-fixed-bottom' do %>
    <%#= fa_icon 'plus' %>
    <%#= t('context.submissions.add_new') %>
  <%# end %>
  -->
  <h1><%= t('journal.submissions.my_papers') %></h1>
</div>

<div class="list-group">
  <% @submissions.each do |submission| %>
    <%= link_to(submission, class: "list-group-item list-group-item-action") do %>
        <b><%= submission.id %></b> | <%= submission.title.truncate(120) %> <span class="hidden-sm-down"><i><%= submission.abstract.truncate(250) %></i></span>
        <span class="tag tag-pill tag-primary tag-pill float-xs-right"><%= submission.aasm_state %></span>
    <% end %>
  <% end %>
</div>




</div>

