<%
=begin
  {
    path: context_submissions_path(@context),# method: :get,
    type: 'default', icon: 'level-up',
    text: t('context.submissions.my_list_title'),
  },
  {
    path: edit_submission_path(@submission),# method: :get,
    type: 'primary', icon: 'edit',
    text: t('context.my_submission.edit_btn'),
    disabled: !policy(@submission).update?
  },
  {
    path: submission_path(@submission, op: :submit), method: :put,
    type: 'success', icon: 'check',
#    type: 'success', icon: 'send',
    text: t('context.my_submission.submit_btn'),
    data: { confirm: 'Are you sure your paper is ready for submittion?' },
    disabled: !policy(@submission).submit?
  },
  {
    path: submission_path(@submission, op: :revise), method: :put,
    type: 'success', icon: 'magic',
    text: t('context.my_submission.revise_btn'),
    data: { confirm: 'Are you sure you are want to make new revision of the paper?' },
    disabled: !policy(@submission).revise?
  },
  {
    path: @submission, method: :delete,
    type: 'danger', icon: 'trash-o',
    text: t('context.my_submission.delete_btn'),
    data: { confirm: 'Are you sure?' },
    disabled: !policy(@submission).destroy?
  },
=end



  @page_menu_data = [
    {
#        title: t('journal.submissions.revise'),
        title: t('journal.submissions.new_revision'),
        url: submission_path(@submission, op: :revise),
        method: :put,
        data: { confirm: 'Are you sure you want to prepare next revision for this paper?' },
#        icon: 'refresh',
        icon: 'plus-square',
#        style: 'default',
#        style: 'outline-primary',
        disabled: !policy(@submission).revise?
    }, {
        title: t('journal.submissions.submit'),
        url: submission_path(@submission, op: :submit),
        method: :put,
        data: { confirm: 'Are you sure you want to submit this paper?' },
        icon: 'send',
#        style: 'default',
#        style: 'outline-primary',
        disabled: !policy(@submission).submit?
    }, {
        title: t('journal.submissions.edit'),
        url: edit_submission_path(@submission),
        icon: 'pencil',
#        style: 'default',
#        style: 'outline-primary',
        disabled: ! (policy(@submission).update_metadata? || policy(@submission).update_file?)
    }, {
        title: t('journal.submissions.delete'),
        url: submission_path(@submission),
        method: :delete,
        data: { confirm: 'Delete this paper, are you sure? All paper data will be lost.' },
        icon: 'trash',
#        style: 'default',
#        style: 'outline-danger',
        disabled: !policy(@submission).destroy?
    }, {
        title: t('journal.submissions.my_papers'),
        url: submissions_path,
        icon: 'list',
#        style: 'default'
#        style: 'outline-primary',
    }
  ]
%>

<%
    text = @submission.get_text
%>

<div class="container-fluid">

    <h2><%= t('journal.submissions.show') %></h2>

<div class="card">
    <div class="card-block">
        <p class="card-text">
            <b>Id:</b> <%= @submission.id %>
            <span class="tag tag-pill tag-primary tag-pill float-xs-right"><%= @submission.aasm_state %></span>
        </p>
        <p class="card-text">
            <b>Title:</b> <%= text.title rescue '' %>
        </p>
        <p class="card-text">
            <b>Abstract:</b> <%= text.abstract rescue '' %>
        </p>
    </div>

    <ul class="list-group">
        <% @submission.revisions.order(:revision_n).reverse_order.each do |revision| %>
            <li class="list-group-item">
                <dl class="row">
                    <dt class="col-xs-3">Revision:</dt>
                    <dd class="col-xs-9">#<%= revision.revision_n %></dd>
                    <dt class="col-xs-3">State:</dt>
                    <dd class="col-xs-9"><%= revision.aasm_state %></dd>
                    <dt class="col-xs-3">Files:</dt>
                    <dd class="col-xs-9">
                        
                        <%# revision.submission_revision_files.each do |file| %>
                        <% revision.files.each do |file| %>
                            &nbsp;<%= link_to file.file_data.url do %><%= fa_icon 'download' %>
                                <%= file.file_category %>
                            <% end %>
                        <% end %>
                        
                    </dd>
                    <% if revision.revision_decision %>
                        <dt class="col-xs-3">Chief editor comment:</dt>
                        <dd class="col-xs-9"><%= revision.revision_decision.comment %></dd>
                    <% end if nil %>
                </dl>


                <%# if revision.text %>
                    <!--p>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_<%= revision.id %>" aria-expanded="false" aria-controls="collapse_<%= revision.id %>">
                            Text...
                        </button>
                    </p>
                    <div class="collapse" id="collapse_<%= revision.id %>">
                        <div class="card card-block">
                            <p class="card-text">
                                <b>Title:</b> <%= revision.text.title rescue '' %>
                                <br>
                                <b>Abstract:</b> <%= revision.text.abstract rescue '' %>
                            </p>
                        </div>
                    </div-->
                <%# end %>

                    <% if revision.text %>
                        <%= render partial: 'common/parts/submission/show_revision_text', locals: {revision: revision} %>
                    <% end %>

                    <% if revision.decision_1 %>
                        <%= render partial: 'common/parts/submission/show_revision_decision', locals: {decision: revision.decision_1} %>
                    <% end %>
                    <% if revision.decision_2 %>
                        <%= render partial: 'common/parts/submission/show_revision_decision', locals: {decision: revision.decision_2} %>
                    <% end %>




            </li>
        <% end %>
    </ul>

</div>




<%
=begin
%>

<%= render partial: 'blk/comp/buttons', locals: {data_list:[
  {
    path: submissions_path,# method: :get,
    type: 'default', icon: 'level-up',
    text: t('context.submissions.my_list_title'),
  },
  {
    path: edit_submission_path(@submission),# method: :get,
    type: 'primary', icon: 'edit',
    text: t('context.my_submission.edit_btn'),
    disabled: !policy(@submission).update?
  },
  {
    path: submission_path(@submission, op: :submit), method: :put,
    type: 'success', icon: 'check',
#    type: 'success', icon: 'send',
    text: t('context.my_submission.submit_btn'),
    data: { confirm: 'Are you sure your paper is ready for submittion?' },
    disabled: !policy(@submission).submit?
  },
  {
    path: submission_path(@submission, op: :revise), method: :put,
    type: 'success', icon: 'magic',
    text: t('context.my_submission.revise_btn'),
    data: { confirm: 'Are you sure you are want to make new revision of the paper?' },
    disabled: !policy(@submission).revise?
  },
  {
    path: @submission, method: :delete,
    type: 'danger', icon: 'trash-o',
    text: t('context.my_submission.delete_btn'),
    data: { confirm: 'Are you sure?' },
    disabled: !policy(@submission).destroy?
  },
]} %>

<%
=end
%>


</div>

