
<aside id="left-sidebar">

<ul iid="navleft" class="nav nav-pills nav-stacked nnavbar nnavbar-light nnavbar-dark bbg-inverse bbg-faded">

  <li class="nav-item">
    <a class="nav-link" href="/">
        <b class="nav-link text-xs-center">GN Journal</b>
    </a>
  </li>

<hr>

  <li class="nav-item">
    <%= link_to office_path, class: "nav-link " + (@sidebar_active=='dashboard' ? 'active' : '') do %>
        Dashboard
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to submissions_path, class: "nav-link " + (@sidebar_active=='my_papers' ? 'active' : '') do %>
        My papers
        <span class="tag tag-default tag-pill float-xs-right"><%= current_user.submissions.where(journal: @journal).count %></span>
    <% end %>
  </li>


<hr>

  <li class="nav-item">
    <b class="nav-link text-xs-center"><%= fa_icon 'user' %> <%= current_user.full_name %></b>
  </li>
  <li class="nav-item">
    <%= link_to edit_user_registration_path, class: 'nav-link ' + (@sidebar_active=='edit_my_data' ? 'active' : '') do %>
      <%= fa_icon 'pencil' %> Edit my data
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to(destroy_user_session_path,
        class: 'nav-link ' + (@sidebar_active=='logout' ? 'active' : ''),
        :method => :delete, data: {confirm: 'Are you sure?'}) do -%>
      <%= fa_icon 'sign-out' %> Logout
    <% end -%>
  </li>


<hr>


  <!--li class="nav-item">
    <b class="nav-link text-xs-center">Editor office</b>
  </li>
  <li class="nav-item">
    <a class="nav-link aactive ppull-right" href="#">Incoming
      <span class="tag tag-default tag-pill float-xs-right">5</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Done</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Archive</a>
  </li>

  <li class="nav-item">
    <b class="nav-link text-xs-center">My reviews</b>
  </li>
  <li class="nav-item">
    <a class="nav-link aactive ppull-right" href="#">Incoming
      <span class="tag tag-default tag-pill float-xs-right">2</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Done</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Archive</a>
  </li>

  <li class="nav-item">
    <b class="nav-link text-xs-center">My papers</b>
  </li>
  <li class="nav-item">
    <a class="nav-link aactive ppull-right" href="#">Current</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Archive</a>
  </li-->

</ul>


</aside>
