
<aside id="left-sidebar">

<ul iid="navleft" class="nav nav-pills nav-stacked bbg-inverse bbg-faded" sstyle: "position: relative;">

  <%= link_to "#", class: "btn btn-default btn-lg float-xs-right left-sidebar-close-btn" do %>
    <%= fa_icon 'times' %>
  <% end %>
  
  <li class="nav-item">
    <a class="nav-link ttext-xs-center" href="/" style="mmargin: 0px; padding: 10px; 2px; 0px; 2px;">
        <b class="nav-link text-xs-center"style="margin: 0px; padding: 0px; 0px;"><%= t('journal.menu.gn_journal') %></b>
    </a>
  </li>

<hr style="margin: 5px; padding: 0px;">

<!--
<% if policy(@journal).can_editor? %>
  <li class="nav-item">
    <%= link_to office_path, class: "nav-link " + (@sidebar_active=='dashboard' ? 'active' : '') do %>
        Dashboard
    <% end %>
  </li>
<% end %>
-->

<% if policy(@journal).can_editor? %>
  <li class="nav-item nav-item-title">
    <b class="nav-link ttext-xs-center"><%= t('journal.menu.editor_office') %></b>
  </li>

<div style="position: relative; margin: 0px; padding: 0px; bborder: thin solid red;">
  <li class="nav-item nav-item-link">
    <%= link_to e_submissions_path,
      class: "nav-link " + (@sidebar_active=='editor_office' ? 'active' : ''),
      style: "pposition: relative; mmargin-right: 44px;" do
    %>
        <%= fa_icon 'files-o' %> <%= t('journal.e_submission.submitted_papers') %>
        <span class="ttag ttag-default ttag-pill float-xs-right"><%= @journal.submissions.all_submitted.where(archived: false).count %></span>
    <% end %>
  </li>

  <!--li class="nav-item" style="position: absolute; wwidth: 42px; width: 42px; right: 0px; top: 0px; margin: 0px; padding-left: 0px;">
        <%= link_to e_submissions_path(filter: :archived),
          class: "nav-link " + (@sidebar_active=='editor_office' ? 'active' : ''),
          style: "pposition: relative; rright: -32px; ttop: -33px; bborder-radius: 15px; padding-left: 0px;",
          title: t('journal.e_submission.archive'),
          data: {} do
        %>
          <b><%= fa_icon 'archive', cclass: "fa-lg" %> <span cclass="hidden-sm-down"></span></b>
        <% end %>
  </li-->
</div>





<div style="position: relative; margin: 0px; padding: 0px; bborder: thin solid red;">
  <li class="nav-item nav-item-link">
    <%= link_to e_submissions_path(filter: :archived),
      class: "nav-link " + (@sidebar_active=='editor_office_archive' ? 'active' : ''),
      style: "pposition: relative; mmargin-right: 44px; mmargin-right: 44px;" do
    %>
        <%= fa_icon 'archive' %> <%= t('journal.e_submission.archive') %>
        <span class="ttag ttag-default ttag-pill float-xs-right"><%= @journal.submissions.all_submitted.where(archived: true).count %></span>
    <% end %>
  </li>

  <!--li class="nav-item" style="position: absolute; wwidth: 42px; width: 42px; right: 0px; top: 0px; margin: 0px; padding-left: 0px;">
        <%= link_to e_submissions_path(filter: :archived),
          class: "nav-link " + (@sidebar_active=='editor_office' ? 'active' : ''),
          style: "pposition: relative; rright: -32px; ttop: -33px; bborder-radius: 15px; padding-left: 0px;",
          title: t('journal.e_submission.archive'),
          data: {} do
        %>
          <b><%= fa_icon 'archive', cclass: "fa-lg" %> <span cclass="hidden-sm-down"></span></b>
        <% end %>
  </li-->
</div>




  <li class="nav-item nav-item-link">
    <%= link_to people_e_submissions_path, class: "nav-link " + (@sidebar_active=='people' ? 'active' : '') do %>
        <%= fa_icon 'users' %> <%= t('journal.menu.people') %>
        <span class="ttag ttag-default ttag-pill float-xs-right"><%= User.all.count %></span>
    <% end %>
  </li>
<!--hr-->
<% end %>


<% if policy(@journal).can_editor? %>
<!--hr-->
<% end %>


<% if policy(@journal).can_reviewer? %>
  <li class="nav-item nav-item-title">
    <b class="nav-link ttext-xs-center"><%= t('journal.menu.reviewer_office') %></b>
  </li>
  <li class="nav-item nav-item-link">
    <%= link_to r_submissions_path, class: "nav-link " + (@sidebar_active=='reviewer_office' ? 'active' : '') do %>
        <%= fa_icon 'hand-o-right' %> <%= t('journal.r_submission.assigned_papers') %>
        <span class="ttag ttag-default ttag-pill float-xs-right"><%= @journal.user_reviewer_invitations(current_user).count %></span>
    <% end %>
  </li>
  <li class="nnav-item nav-item-incut">
    <span class="nnav-link nav-text">
      <%= t('journal.menu.reviewer.guidelines') %>:
      <%= fa_icon 'file-pdf-o' %>
      <a href="/docs/Guidelines_for_Peer_Reviewers.pdf" style="padding: 0;"><%= t('journal.menu.reviewer.guidelines_en') %></a> / <a href="/docs/Guidelines_for_Peer_Reviewers_ru.pdf" style="padding: 0;"><%= t('journal.menu.reviewer.guidelines_ru') %></a>
    </span>
  </li>
<% end %>

<%# if policy(@journal).can_reviewer? || policy(@journal).can_editor? %>
<!--hr-->
<%# end %>

  <li class="nav-item nav-item-title">
    <b class="nav-link ttext-xs-center"><%= t('journal.menu.author_office') %></b>
  </li>

<div style="position: relative; margin: 0px; padding: 0px; bborder: thin solid red;">

  <li class="nav-item nav-item-link" sstyle="ppadding-right: 34px;">
    <%= link_to submissions_path,
      class: "nav-link " + (@sidebar_active=='my_papers' ? 'active' : ''),
      style: "mmargin-right: 44px;" do
    %>
        <%= fa_icon 'files-o' %> <%= t('journal.submissions.my_papers') %>
        <span class="ttag ttag-default ttag-pill float-xs-right"><%= current_user.submissions.where(journal: @journal).count %></span>

    <% end %>
  </li>


  <!--li class="nav-item" style="position: absolute; wwidth: 42px; width: 42px; right: 0px; top: 0px; margin: 0px; padding-left: 0px;">
        <%= link_to new_submission_path,
          class: "nav-link " + (@sidebar_active=='my_papers' ? 'active' : ''),
          style: "pposition: relative; rright: -32px; ttop: -33px; bborder-radius: 15px; padding-left: 0px;",
          title: t('journal.submissions.new'),
          data: {} do
        %>
          <b><%= fa_icon 'plus', cclass: "fa-lg" %> <span cclass="hidden-sm-down"></span></b>
        <% end %>
  </li-->


  <li class="nav-item nav-item-link" sstyle="ppadding-right: 34px;">
    <%= link_to new_submission_path,
      class: "nav-link " + (@sidebar_active=='my_papers_new' ? 'active' : ''),
      style: "mmargin-right: 44px;" do
    %>
        <%= fa_icon 'plus' %> <%= t('journal.submissions.new') %>

    <% end %>
  </li>


  <li class="nnav-item nav-item-incut">
    <span class="nnav-link nav-text">
      <%= t('journal.menu.author.guidelines') %>:
      <%= fa_icon 'file-pdf-o' %>
      <a href="/docs/Rules_for_Authors.pdf" style="padding: 0;"><%= t('journal.menu.reviewer.guidelines_en') %></a> / <a href="/docs/Rules_for_Authors_ru.pdf" style="padding: 0;"><%= t('journal.menu.reviewer.guidelines_ru') %></a>
    </span>
  </li>
  <li class="nnav-item nav-item-incut">
    <span class="nnav-link nav-text">
      <%= t('journal.menu.author.about_reviews') %>:
      <%= fa_icon 'file-pdf-o' %>
      <a href="/docs/Short_Instruction_for_Authors.pdf" style="padding: 0;"><%= t('journal.menu.reviewer.guidelines_en') %></a> / <a href="/docs/Short_Instruction_for_Authors_ru.pdf" style="padding: 0;"><%= t('journal.menu.reviewer.guidelines_ru') %></a>
    </span>
  </li>

</div>


<!--hr-->



  <li class="nav-item">
    <b class="nav-link ttext-xs-center"><%= fa_icon 'user' %> <%= current_user.full_name %> (Id: <%= current_user.id %>)</b>
  </li>
  <li class="nav-item">
    <%= link_to edit_user_registration_path, class: 'nav-link ' + (@sidebar_active=='edit_my_data' ? 'active' : '') do %>
      <%= fa_icon 'pencil' %> <%= t('journal.menu.edit_my_data') %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to(destroy_user_session_path,
        class: 'nav-link ' + (@sidebar_active=='logout' ? 'active' : ''),
        :method => :delete, data: {confirm: t('journal.menu.sign_out_confirm')}) do -%>
      <%= fa_icon 'sign-out' %> <%= t('journal.menu.sign_out') %>
    <% end -%>
  </li>


<!--hr-->

<hr>

<!--div class="helpdesk">
  <span class="help-title"><%= t('journal.menu.help') %></span>
  <a class="email" href="mailto:support@gnjournal.freshdesk.com">support@gnjournal.freshdesk.com</a>
  <a class="site" target="_blank" href="https://gnjournal.freshdesk.com">https://gnjournal.freshdesk.com</a>
</div-->



</ul>


</aside>
