<%

#show_download_link = true if show_download_link.nil?
page_update = 'self' if page_update.nil?

defined?(show_download_link) or show_download_link = true

#show_download_link = !show_download_link.nil? ? show_download_link : true

#  show_download_link = defined?(show_download_link) ? show_download_link : true
#  show_download_link = (defined?(show_download_link) ? show_download_link : true)

#  page_update = defined?(page_update) ? page_update : 'self'
#  page_update = 'self'

  block_id = "fileuploadblock_#{submission_file.file_category}_#{submission_file.attachable_type}_#{submission_file.attachable_id}"
  form_id = "fileuploadform_#{submission_file.file_category}_#{submission_file.attachable_type}_#{submission_file.attachable_id}"
  field_id = "fileuploadfield_#{submission_file.file_category}_#{submission_file.attachable_type}_#{submission_file.attachable_id}"
  spinner_id = "fileuploadspinner_#{submission_file.file_category}_#{submission_file.attachable_type}_#{submission_file.attachable_id}"
%>

<div cclass="card card-default" id="<%= block_id %>">
  <%= form_for(
    submission_file,
    url: (submission_file.persisted? ? submission_file_path(submission_file, page_update: page_update) : submission_files_path(page_update: page_update) ),
    mmethod: :post, remote: true, :html => {
      multipart: true,
      id: form_id,
      class: "form-inline",
      style: 'display: none;'
    }
  ) do |f| %>
    <%= render partial: 'common/forms/form_error_alert', locals: {form_model: submission_file} %>
    <%= f.hidden_field :attachable_id, :class => "form-control" %>
    <%= f.hidden_field :attachable_type, :class => "form-control" %>
    <%= f.hidden_field :file_category, :class => "form-control" %>

    <% if true or submission_file.attachable.submission.may_sm_update_file? %>
      <div class="form-group">
        <%= f.file_field :file_data, id: field_id, style: 'display: none;', aaccept: "image/jpeg,image/png,image/gif",
          onchange: "$('##{spinner_id}').show(); $('##{form_id}').submit();"
        %>
      </div>
    <% end %>
  <% end if can_upload %>
  <div class="btn-group">

    <%= link_to "#", class: "btn btn-primary btn-sm",
      onclick: "$('input[id=#{field_id}]').click(); return false;",
#      title: "Upload file",
      a: :b do
    %>
      <i class="fa fa-upload"></i>
      <%= t('journal.submission_files.upload') %>
      <span id="<%= spinner_id %>" style="display: none;"><i class="fa fa-spinner fa-spin ffa-3x fa-fw"></i><span class="sr-only">Loading...</span></span>
    <% end if can_upload %>

    <% if submission_file.persisted? %>

      &nbsp; 
      <%= link_to submission_file.file_data.url, ttarget: "_blank" do %>
        <%= fa_icon 'download' %>
        <%= t('journal.submission_files.download') %>
      <% end if show_download_link %>
      <%= link_to submission_file_path(submission_file, page_update: page_update),
        class: "btn btn-danger btn-sm",
        method: :delete,
        remote: true,
        data: {confirm: t('journal.submission_files.confirm_delete')},
        #title: "Delete this attachment",
        title: t('journal.submission_files.delete'),
        a: :b do
      %>
        <i class="fa fa-remove"></i>
      <% end if can_upload %>

    <% end %>

  </div>
</div>

  <!--/div>
</div-->


