
<nav class="navbar navbar-light nnavbar-dark bbg-faded main-nav navbar-fixed-top bbg-inverse">

<div class="ccontainer text-xs-center">

<% if @left_sidebar %>
    <ul class="nav navbar-nav float-xs-left" sstyle="margin: 0px; padding: 0px;">
        <li class="nav-item" sstyle="border: none;">
          <!--span class="left-sidebar-toggler nnavbar-toggler" type="button">&#9776;</span-->
          <button class="left-sidebar-toggler navbar-toggler" type="button"></button>
        </li>
    </ul>
<% end %>

    <ul class="nav navbar-nav nnavbar-brand" style="display: inline-block; margin: 0px; padding-top: 5px; padding-bottom: 5px;">
    <!--ul class="nav navbar-nav nnavbar-brand" style="display: inline-block; margin: 0px; padding-top: auto; padding-bottom: auto;"-->
        <li class="nav-item" style="list-style: none; margin: 0px; padding: 0px;">
          <a class="nnavbar-brand nav-link" href="/" style="padding: 0px;"><b>GN Journal</b></a>
        </li>
    </ul>

<ul class="nav navbar-nav float-xs-right">

<% if user_signed_in? %>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="mmargin-top: 5px;" href="#" role="button" aaria-haspopup="true" aaria-expanded="false" aaria-expanded="true">
      <%= fa_icon "user" %> <%= current_user.full_name %>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="supportedContentDropdown">
<!--      <%#= link_to(user_path(current_user), {}, {class: 'user-name-above'}) do -%>My profile<%# end -%> -->
      <%= link_to(edit_user_registration_path, class: 'dropdown-item') do -%>Edit my data<% end -%>
<!--        <%#= link_to(u_index_path) do -%>Users list<%# end -%> -->
      <%= link_to(destroy_user_session_path, class: 'dropdown-item', :method => :delete, data: {confirm: 'Are you sure?'}) do -%>Logout<% end -%>
      </div>
    <!--ul class="dropdown-menu">
      <li><%#= link_to(user_path(current_user), {}, {class: 'user-name-above'}) do -%>My profile<%# end -%></li>
      <li><%#= link_to(edit_user_registration_path) do -%>Edit my data<%# end -%></li>
      <li><%#= link_to(u_index_path) do -%>Users list<%# end -%></li>
      <li><%= link_to(destroy_user_session_path, :method => :delete) do -%>Logout<% end -%></li>
    </ul-->
</li>
<% else %>
<li class="nav-item ddropdown">
    <%= link_to(new_user_session_path, class: 'nav-link', style: "mmargin-top: 5px;") do -%>
      <%= fa_icon "sign-in" %> <%= t 'enter' %>
    <% end -%>

    <!--ul class="dropdown-menu">
      <li><%= link_to(new_user_session_path, style: "margin-top: 5px;") do -%>Login<% end -%></li>
      <li><%#= link_to(u_index_path) do -%>Users list<%# end -%></li>
    </ul-->
</li>
<% end %>

</ul>


</div>
</nav>

<% if @left_sidebar %>

<ul id="navleft" class="nav nav-pills nav-stacked nnavbar nnavbar-light nnavbar-dark bbg-inverse bbg-faded">

  <li class="nav-item">
    <b class="nav-link text-xs-center">Editor office</b>
  </li>
  <li class="nav-item">
    <a class="nav-link aactive ppull-right" href="#">Incoming
      <span class="tag tag-default tag-pill float-xs-right">5</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Done</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Archive</a>
  </li>

  <li class="nav-item">
    <b class="nav-link text-xs-center">My reviews</b>
  </li>
  <li class="nav-item">
    <a class="nav-link aactive ppull-right" href="#">Incoming
      <span class="tag tag-default tag-pill float-xs-right">2</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Done</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Archive</a>
  </li>

  <li class="nav-item">
    <b class="nav-link text-xs-center">My papers</b>
  </li>
  <li class="nav-item">
    <a class="nav-link aactive ppull-right" href="#">Current</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Archive</a>
  </li>

</ul>

<% end %>

